.page-icon-large {
  font-size: 15em;
  opacity: 0.05;
  color: #fff;
  margin-bottom: 90px;
  position: absolute;
  bottom: 0;
}

.button-icon-small {
  font-size: x-large;
  color: #fff;
  margin-right: 10px;
}
