.scoreboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
}

.scoreboard-names {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30px;
  color: #ef476f;
  font-size: x-large;
  margin-bottom: 5px;
}

.score-total {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  color: #fff;
  font-size: xx-large;
  margin-bottom: 5px;
  background-color: #ef476f;
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  border-bottom: 4px solid #06d6a0;
  border-right: 4px solid #06d6a0;
  border-bottom-right-radius: 0px;
}
