.score-round-modal-container {
  height: 40vh;
  width: 90%;
  z-index: 10;
  border: none;
  border-radius: 5px;
  background-color: white;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: .1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
