.yahtzee-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.yahtzee-upper-container {
  display: flex;
  flex-direction: column;
  margin: 0px 0px 10px 0px;
  width: 100%;
  height: 33vh;
  border: 1px solid #ffd166;
  padding: 3px 0px 5px;
}

.yahtzee-lower-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 33vh;
  border: 1px solid #ffd166;
  padding: 3px 0px 5px;
}

.score-total-yahtzee {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: xx-large;
  background-color: #ef476f;
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  border-bottom: 4px solid #06d6a0;
  border-right: 4px solid #06d6a0;
  border-bottom-right-radius: 0px;
  padding: 2px 0px 7px 0px;
}

.score-total-values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

.yahtzee-total-score {
  display: flex;
  justify-content: center;
  width: 40%;
  font-size: 2.2rem;
}

.score-total-names {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
}

.yahtzee-score-name {
  display: flex;
  justify-content: center;
  width: 40%;
  font-size: large;
}
