.App {
  text-align: center;
  background-color: #073b4c;
  min-height: 100vh;
  font-family: "Ubuntu", sans-serif;
}

.App-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.App-header {
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: flex-start;
  justify-content: center;
}

h1 {
  color: #06d6a0;
  font-size: 3.6em;
  position: absolute;
  top: 0;
  margin-top: 30px;
}

h2 {
  color: #06d6a0;
  font-size: 3em;
  margin: 0px;
}

h3 {
  color: #06d6a0;
  font-size: 1.6em;
  margin: 0px 0px 20px 0px;
}

hr {
  width: 95%;
  border: 1px solid #fff;
  opacity: 0.1;
  margin: 0 auto;
}

.hr-scorebox {
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  min-height: 11vh;
  max-height: fit-content;
  width: 100%;
  overflow: auto;
}

.title-container-large {
  display: flex;
  justify-content: center;
  min-height: 20vh;
  width: 100%;
}

.content-container {
  display: flex;
  min-height: 60vh;
  max-height: 75vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 20px 20px 0px 20px;
}

.content-container-main {
  display: flex;
  min-height: 60vh;
  max-height: 75vh;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 20px 20px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  max-height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-new-game {
  display: flex;
  justify-content: space-between;
  max-height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
}
